body {
    overflow: hidden; 
    background-color: rgb(251, 244, 232);
}

.title-container {
    display: flex;
    justify-content: center;
}
.title-container a {
    display: inline;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 80px;  
    color: rgb(119, 110, 101);
}
.srcc-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 80vh;
}

.srcc-container img {    
    width: 35px;
    height: 35px;
}
.srcc-container a {
    transition: transform .3s ease-in-out;
}
.srcc-container a:hover {
    transform: scale(1.2);
}

.game-container {
    display: flex;
    justify-content: center;
    position: relative;
}
#canvas {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 80px;
    
    position: absolute;
    top: -70vh;
}

