body {
    overflow: hidden;
    background-color: rgb(251, 244, 232);
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.title-container a {
    display: inline;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 80px;  
    color: rgb(119, 110, 101);
}
.srcc-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.srcc-container img {    
    width: 35px;
    height: 35px;
}
.srcc-container img {
    transition: transform .3s ease-in-out;
}
.srcc-container img:hover {
    transform: scale(1.2);
}

.game-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#canvas {
    width: 400px;
    height: 400px;
    font-family: "Noto Sans", sans-serif;    
    border-radius: 5px;
    border: 5px solid rgb(156, 138, 124);
}

.restart-container { 
    position: absolute;
    bottom: 93%;
    left: 80%;
}

.restart-container p {
    font-weight: 600;
    position: absolute;
    color: rgb(156, 138, 124);
    cursor: pointer;
}

#restart {
    font-family: "Arial";
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(156, 138, 124);
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 15px;

}

.score-container {
    border-radius: 3px;
    font-family: "Noto Sans", sans-serif;
    color: #FFF;    
    background: rgb(140, 112, 99);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    
@media screen and (max-width: 768px) {
    .restart-container {
	width: 10%;
	height: auto;
    }
    #restart {
	padding: 2px 2px;
    }
    .title-container a {
	font-size: 50px;
    }
    .score-container {
	top: 15%;
    }
    #canvas {
	width: 300px;
	height: 300px;
    }
}
