body {
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

.title-container a {
    position: relative;

    display: inline;
    top: -10px;
    
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    color: #4495d4;
}
.restart-container {
    font-weight: 500;    
    float: right;
    margin-right: 50px;
}
 
#restart {
    font-size: 18px;
    cursor: pointer;
    color: #FFF;
    background: #4495d4;
    border-radius: 3px;
    border-color: transparent;
    padding: 7px 15px;
}
.srcc-container {
    position: relative;
    width: 35px;
    height: 35px;
    margin-top: 1rem;
}
.srcc-container img {    
    width: 35px;
    height: 35px;
}

.srcc-container img {
    transition: transform .3s ease-in-out;
}
.srcc-container img:hover {
    transform: scale(1.2);
}
.game-container {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#canvas {
    position: absolute;   
    width: 400px;
    height: 400px;
    font-size: 40px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#score {
    text-align: center;
}
#howto {
    cursor: pointer;
}
.score-container {
    font-size: 30px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #808080;
    border-radius: 5px;
    padding: 1px 20px;
    position: absolute;
}
@media screen and (max-width: 768px) {
    .title-container a {
	font-size: 45px;
    }
    .game-container {
	width: 300px;
	height: 300px;
    }
    #canvas {
	width: 300px;
	height: 300px;
	font-size: 30px;
    }
    #restart {
	font-size: 14px;
	padding: 3px 7px;
    }
    .restart-container {
	margin-right: 0.5rem;
    }
    #howto {
	font-size: 13px;
    }
    .score-container {
	font-size: 20px;
    }
    .srcc-container img {    
	width: 25px;
	height: 25px;
    }

}
